<p id="notice"><%= notice %></p>

<p>
  <strong>Isadmin:</strong>
  <%= @user.isAdmin %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @user.credits %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', :back %>
