<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @request.requester.username %>
</p>

<p>
  <strong>Status:</strong>
  <%= @request.status %>
</p>

<p>
  <strong>Offer:</strong>
  <%= @request.offer %>
</p>

<%= link_to 'Approve', approve_request_path(@request), method: :post %> |
<%= link_to 'Back', requests_path %>
