<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @request.requester.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @request.status %>
</p>

<p>
  <strong>Offer:</strong>
  <%= @request.offer %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
