<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @request.requester.username %>
</p>

<p>
  <strong>Status:</strong>
  <%= @request.status ? 'Approved' : 'Not Approved' %>
</p>

<p>
  <strong>Offer:</strong>
  <%= @request.offer.to_sym %>
</p>

<% if @request.offer.car.owner == current_user %>
<%= link_to 'Approve', approve_request_path(@request), method: :post %> |
<% end %>
<%= link_to 'Back', :back %>
