<p id="notice"><%= notice %></p>

<h1>Listing Offers</h1>

<%= form_tag offers_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table class="table table-striped datatable">
  <thead>
    <tr>
      <th>Datetime</th>
      <th>Pick up point</th>
      <th>Drop off point</th>
      <th>Vacancies</th>
      <th>Cost</th>
      <th>Car</th>
      <th>Requests</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= offer.datetime %></td>
        <td><%= offer.pickUpPoint %></td>
        <td><%= offer.dropOffPoint %></td>
        <td><%= offer.vacancies %></td>
        <td><%= offer.cost %></td>
        <td><%= link_to offer.car.name, car_path(offer.car) %></td>
        <% requests = Request.get_offer_requests(offer.datetime, offer.car_license_plate_number) %>
        <% offer_taken = Request.get_taken_offer_request(offer.datetime, offer.car_license_plate_number) %>
        <% if offer_taken.present? %>
            <td>Taken by <%= offer_taken.requester.username %></td>
        <% else %>
            <td id="<%= offer.hash %>">
                <% requests.each do |request| %>
                    <%= render partial: 'offers/request', locals: { request: request } %>
                <% end %>
                <li"><%= link_to 'Request now', request_offer_path(offer), remote: true, method: :post %></li>
            </td>
        <% end %>
        <% if offer.car.owner == current_user %>
            <td><%= link_to 'Edit', edit_offer_path(offer) %></td>
            <td><%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Offer', new_offer_path %>
