<p id="notice"><%= notice %></p>

<h1>Listing Offers</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Datetime</th>
      <th>Pick up point</th>
      <th>Drop off point</th>
      <th>Vacancies</th>
      <th>Cost</th>
      <th>Car</th>
      <th>Requests</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= offer.datetime %></td>
        <td><%= offer.pickUpPoint %></td>
        <td><%= offer.dropOffPoint %></td>
        <td><%= offer.vacancies %></td>
        <td><%= offer.cost %></td>
        <td><%= offer.car.name %></td>
        <% requests = Request.where(offer: offer)%>
        <% offer_taken = Request.where(offer: offer, status: true).present? %>
        <% if offer_taken %>
            <td>Taken</td>
        <% else %>
            <td id="<%= offer.hash %>">
                <% requests.each do |request| %>
                    <%= render partial: 'offers/request', locals: { request: request } %>
                <% end %>
                <li"><%= link_to 'Request now', request_offer_path(offer), remote: true, method: :post %></li>
            </td>
        <% end %>
        <% if offer.car.owner == current_user %>
            <td><%= link_to 'Edit', edit_offer_path(offer) %></td>
            <td><%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Offer', new_offer_path %>
