<p id="notice"><%= notice %></p>

<h1>Listing Cars</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>License Plate Number</th>
      <th>Name</th>
      <th>Seats</th>
      <th>Owned by</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.license_plate_number %></td>
        <td><%= car.name %></td>
        <td><%= car.seats %></td>
        <td><%= link_to car.owner.username, user_path(car.owner.username) %></td>
        <% if current_user.isAdmin || current_user == car.owner %>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
        <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Car', new_car_path %>
