<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @car.name %>
</p>

<p>
  <strong>Seats:</strong>
  <%= @car.seats %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @car.owner.username %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', :back %>
