<!DOCTYPE html>
<html>
<head>
  <title>Cs2102carpooling</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
    <% if current_user %>
    <nav class="panel navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Carpooling</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li>
                <%= link_to 'Users', users_path %>
              </li>
              <li>
                <%= link_to 'Cars', cars_path %>
              </li>
              <li>
                <%= link_to 'Offers', offers_path %>
              </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li>
                <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    <% end %>

    <div class="panel">
      <div class="panel-body">
        <%= yield %>
      </div>
    </div>
</div>
</body>
</html>
